@{
    ViewData["Title"] = "Home Page";
}

@using FastTracker.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<Job>

@section title{
    <div id="Title">
        <h1>FastTracker</h1>
    </div>
}
  
<div class="main_job_container">
    <div class="jobs">
        @if (Model == null || Model.Count == 0){
            <h1>No jobs added. Click below to add a new job!</h1>
            <br />
        }
        else{
            @foreach (var job in Model){
                <div class="Job_Container">
                    <p>@job.Id</p>
                    <p>@job.Name</p>
                    <p>@job.Position</p>
                    <p>@job.PicId</p>
                    <p>@job.Status</p>
                    <p>@job.DateUpdated</p>
                    <button type="button" class="btn_job" id="@($"edit{job.Id}")">Edit</button>
                    <div class="EditJob" id="@($"edit{job.Id}frm")">
                        <form asp-controller="Home" asp-action="EditJob" asp-route-id="@job.Id" method="POST">
                            <label>Change Job Status</label>
                            <select id="status" name="status">
                                <option value="Applied">Applied</option>
                                <option value="OA">OA</option>
                                <option value="Waitlisted">Waitlisted</option>
                                <option value="Phone_Screen">Phone Screen</option>
                                <option value="Interview">Interview</option>
                                <option value="Offer">Offer</option>
                                <option value="Rejected">Rejected</option>
                                <option value="Accepted">Accepted</option>
                            </select>
                            <button type="submit" class="btn_job"id="SubmitEdit">Change</button>
                        </form>
                    </div>
                    <form asp-controller="Home" asp-action="DeleteJob" asp-route-id="@job.Id" onsubmit="return confirm('Are you sure you\'d like to delete this job?')">
                        <button type="submit" class="btn_job" id="delete">Delete</button>
                    </form>
                </div>
                <br />
                <hr />
                <br />
            }
        }
    </div>
    <br />
    <button id="addJobs">Click to Add new job</button>
    <div id="form">
        <form asp-controller="Home" asp-action="AddJob" method="POST">
            <label>Company</label>
            <input type="text" name="job" id="job" required/>
            <label>Position</label>
            <input type="text" name="position" id="position" required/>
            <button type="submit">Add Job</button>
        </form>
    </div>
    @if (Model.Count != 0)
    {
        <form asp-controller="Home" asp-action="SortJobs">
            <label>Sort by:</label>
            <select id="sort" name="sortBy">
                <option value="date" name="date">Date</option>
                <option value="status" name="status">Status</option>
                <option value="alpha" name="alpha">Alphabetical</option>
                <option value="dateRev" name="dateRev">Date Reversed</option>
                <option value="statusRev" name="statusRev">Status Reversed</option>
                <option value="alphaRev" name="alphaRev">Alphabetical Reversed</option>
            </select>
            <button type="submit" id="sortJob">Sort</button>
        </form>
    }
</div>

<script src="~/js/site.js"></script>