@{
    ViewData["Title"] = "Home Page";
}

@using FastTracker.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model List<Job>

@section title{
    <h1>FastTracker</h1>
}

<div class="main_job_container">
    <div class="jobs">
        @if (Model == null || Model.Count == 0){
            <h1>No jobs added. Click below to add a new job!</h1>
        }
        else{
            @foreach (var job in Model){
                <p>@job.Id</p>
                <p>@job.Name</p>
                <p>@job.Position</p>
                <p>@job.PicId</p>
                <p>@job.Status</p>
                <p>@job.DateUpdated</p>
                <button type="button" id="@($"edit{job.Id}")">Edit</button>
                <div class="EditJob" id="@($"edit{job.Id}frm")">
                    <form asp-controller="Home" asp-action="EditJob" asp-route-id="@job.Id" method="POST">
                        <label>Change Job Status</label>
                        <select id="status" name="status">
                            <option value="Applied">Applied</option>
                            <option value="OA">OA</option>
                            <option value="Waitlisted">Waitlisted</option>
                            <option value="Phone_Screen">Phone Screen</option>
                            <option value="Interview">Interview</option>
                            <option value="Offer">Offer</option>
                            <option value="Rejected">Rejected</option>
                            <option value="Accepted">Accepted</option>
                        </select>
                        <button type="submit" id="SubmitEdit">Change</button>
                    </form>
                </div>
                <form asp-controller="Home" asp-action="DeleteJob" asp-route-id="@job.Id" onsubmit="return confirm('Are you sure you\'d like to delete this job?')">
                    <button type="submit" class="DeleteJob "id="delete">Delete</button>
                </form>
                <hr />
            }
        }
    </div>
    <br />
    <button id="addJobs">Click to Add new job</button>
    <br />
    <div id="form">
        <form asp-controller="Home" asp-action="AddJob" method="POST">
            <label>Company</label>
            <input type="text" name="job" id="job" required/>
            <label>Position</label>
            <input type="text" name="position" id="position" required/>
            <button type="submit">Add Job</button>
        </form>
    </div>
</div>

<script src="~/js/site.js"></script>